<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Sessions List", sessions_path, class: 'nav-item btn black-text' %>
      <%= link_to "Create a Session", new_session_path, class: 'nav-item btn black-text' %>
      <% if session != nil %>
        <%= link_to "Current Session", session_path(session), class: 'nav-item btn black-text' %>
      <% end %>
    </nav>
  </div>
</div>
