<%= render partial: "session_navbar", locals: {session: nil} %>

<div class="container">
  <% @sessions.each do |session| %>
    <div class="row">
      <%= link_to session.identifier, session_path(session), class: "btn black-text" %>
    </div>
  <% end %>
</div>
