<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Counselor List", counselors_path, class: 'nav-item btn black-text' %>
      <%= link_to "Create a Counselor", new_counselor_path, class: 'nav-item btn black-text' %>
    </nav>
  </div>
</div>
