<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Cabins List", cabins_path, class: 'nav-item btn black-text' %>
      <%= link_to "Create a Cabin", new_cabin_path, class: 'nav-item btn black-text' %>
    </nav>
  </div>
</div>
