<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Session Portal", sessions_path, class: 'nav-item btn black-text' %>
      <%= link_to "Counselor Portal", counselors_path, class: 'nav-item btn black-text' %>
      <%= link_to "Camper Portal", campers_path, class: 'nav-item btn black-text' %>
    </nav>
  </div>
</div>
