<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Sessions List", sessions_path, class: 'nav-item btn black-text' %>
      <%= link_to "Trips List", trips_path(session: day.session), class: 'nav-item btn black-text' %>
      <%= link_to "Current Session", session_path(day.session, start_date: day.session.start), class: 'nav-item btn black-text' %>
    </nav>
  </div>
</div>
