<div class="container-fluid bg-secondary">
  <div class="row">
    <nav class="navbar">
      <%= link_to "Camper List", campers_path, class: 'nav-item btn black-text' %>
      <%= link_to "Create a Camper", new_camper_path, class: 'nav-item btn black-text' %>
    </nav>
  </div>
</div>
