<div class="nested-fields">
  <%= f.inputs do %>
  <%= f.input :enf_class, :label => "Period 1", :as => :radio, collection: @enf_classes.where(period: 0)  %>
  <%= f.input :days_attend, :include_blank => false %>
  <%= link_to_remove_association "remove task", f %>
  <% end %>
</div>
